<?xml version="1.0"?>
<config>
    <modules>
        <AdjustWare_Icon>
            <version>3.1.12</version>
            <platform>community</platform>
        </AdjustWare_Icon>
    </modules>
    <admin>
        <routers>
			<adjicon>
				<use>admin</use>
				<args>
					<module>AdjustWare_Icon</module>
					<frontName>adjicon</frontName>
				</args>
			</adjicon>
        </routers>
    </admin>     
    <adminhtml>
        <layout>
            <updates>
                <adjicon>
                    <file>adjicon.xml</file>
                </adjicon>
            </updates>
        </layout>
		<translate>
            <modules>
                <AdjustWare_Icon>
                    <files>
                        <default>AdjustWare_Icon.csv</default>
                    </files>
                </AdjustWare_Icon>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <adjicon>
                        <class>adjicon/observer</class>
                        <method>bindConfigChanges</method>
                    </adjicon>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <adjicon>
                        <class>adjicon/observer</class>
                        <method>resizeIcons</method>
                    </adjicon>
                </observers>
            </controller_action_postdispatch>
        </events>
    </adminhtml> 
    <frontend>
        <translate>
            <modules>
                <AdjustWare_Icon>
                    <files>
                        <default>AdjustWare_Icon.csv</default>
                    </files>
                </AdjustWare_Icon>
            </modules>
        </translate>
        <layout>
            <updates>
                <adjicon>
                    <file>adjicon.xml</file>
                </adjicon>
            </updates>
        </layout>
        <events>
            <catalog_controller_product_init_after>
                <observers>
                    <adjicon>
                        <type>singleton</type>
                        <class>adjicon/observer</class>
                        <method>initProductOnGallery</method>
                    </adjicon>
                </observers>
            </catalog_controller_product_init_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <adjicon>
                        <type>singleton</type>
                        <class>adjicon/observer</class>
                        <method>setFilterTemplate</method>
                    </adjicon>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <adjicon>
                        <type>singleton</type>
                        <class>adjicon/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </adjicon>
                </observers>
            </core_block_abstract_to_html_before>
            <adjicon_layer_filters_set_icons>
                <observers>
                    <adjicon>
                        <type>singleton</type>
                        <class>adjicon/observer</class>
                        <method>setLayeredFilterIcons</method>
                    </adjicon>
                </observers>
            </adjicon_layer_filters_set_icons>
        </events>
    </frontend>
    <global>
        <events>
            <catalog_product_save_before>
                <observers>
                    <adjicon>
                        <type>singleton</type>
                        <class>adjicon/observer</class>
                        <method>saveAdjImagesInfo</method>
                    </adjicon>
                </observers>
            </catalog_product_save_before>
        </events>
        <models>
            <adjicon>
                <class>AdjustWare_Icon_Model</class>
                <resourceModel>adjicon_mysql4</resourceModel>
            </adjicon>
            <adjicon_mysql4>
                <class>AdjustWare_Icon_Model_Mysql4</class>
                <entities>
                    <icon>
                        <table>adjicon</table>
                    </icon>
                    <attribute>
                        <table>adjicon_attribute</table>
                    </attribute>
                    <texticon>
                        <table>adjicon_texticon</table>
                    </texticon>
                    <color>
                        <table>adjicon_color</table>
                    </color>
                    <image>
                        <table>adjicon_image</table>
                    </image>
                    <cpp>
                        <table>adjicon_cpp</table>
                    </cpp>
                </entities>
            </adjicon_mysql4>
        </models>     
    
        <blocks>
            <adjicon>
                <class>AdjustWare_Icon_Block</class>
            </adjicon>
        </blocks>
        <helpers>
            <adjicon>
                <class>AdjustWare_Icon_Helper</class>
            </adjicon>
        </helpers>
        <resources>
            <adjicon_setup>
                <setup>
                    <module>AdjustWare_Icon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adjicon_setup>
            <adjicon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adjicon_write>
            <adjicon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adjicon_read>
        </resources>
    </global> 

    <default>
        <design>
            <adjicon>
                <product_size>35</product_size>
                <product_font_size>20</product_font_size>
                <list_size>25</list_size>
                <list_font_size>18</list_font_size>
                <layered_size>20</layered_size>
                <layered_font_size>15</layered_font_size>
                <option_size>20</option_size>
                <option_font_size>15</option_font_size>
                <small_thumbnail_width>56</small_thumbnail_width>
                <medium_thumbnail_width>135</medium_thumbnail_width>
                <large_thumbnail_width>295</large_thumbnail_width>
            </adjicon>  
        </design>
    </default> 

</config>
<!--
/**
 * Visualize Your Attributes - Color Swatch
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Icon
 * @version      3.1.12
 * @license:     yyaCGr5K8ZCaMT0MZQn3kyZBpI7JDXhVgQrqRg87lG
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
-->
