<?xml version="1.0"?>
<config>
    <modules>
        <NextBits_BannerNext>
            <version>0.1.0</version>
        </NextBits_BannerNext>
    </modules>
    <frontend>
        <routers>
            <bannernext>
                <use>standard</use>
                <args>
                    <module>NextBits_BannerNext</module>
                    <frontName>bannernext</frontName>
                </args>
            </bannernext>
        </routers>
        <layout>
            <updates>
				<bannernext module="NextBits_BannerNext">
                    <file>bannernext.xml</file>
                </bannernext>
            </updates>
        </layout>
		 <events>
           <core_block_abstract_prepare_layout_before>
               <observers>
                   <nextbits_jquery_prepare_layout_before>
                       <class>bannernext/observer</class>
                       <method>prepareLayoutBefore</method>
                   </nextbits_jquery_prepare_layout_before>
               </observers>
           </core_block_abstract_prepare_layout_before>
       </events>
    </frontend>
    <admin>
        <routers>
			<bannernext>
				<use>admin</use>
				<args>
					<module>NextBits_BannerNext</module>
					<frontName>bannernext</frontName>
				</args>
			</bannernext>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<bannernext module="bannernext">
				<title>Banner Next</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="bannernext">
						<title>Manage Banners</title>
						<sort_order>0</sort_order>
						<action>bannernext/adminhtml_bannernext</action>
					</items>
					<items2 module="bannernext">
						<title>Add Banner</title>
						<sort_order>0</sort_order>
						<action>bannernext/adminhtml_bannernext/new</action>
					</items2>
				</children>
			</bannernext>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<bannernext module="bannernext">
								<title>Banner Next</title>
								<sort_order>71</sort_order>               
								<children>
									<items module="bannernext">
										<title>Manage Banners</title>
										<sort_order>0</sort_order>
										<action>bannernext/adminhtml_bannernext</action>
									</items>
									<items2 module="bannernext">
										<title>Add Banner</title>
										<sort_order>0</sort_order>
										<action>bannernext/adminhtml_bannernext/new</action>
									</items2>
								</children>
							</bannernext>
							<system>
								<children>
									<config>
										<children>
											<bannernext translate="title" module="bannernext">
												<title>NextBits BannerNext Section</title>
											</bannernext>
										</children>
									</config>
								</children>
							</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bannernext>
					<file>bannernext.xml</file>
				</bannernext>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bannernext>
                <class>NextBits_BannerNext_Model</class>
                <resourceModel>bannernext_mysql4</resourceModel>
            </bannernext>
            <bannernext_mysql4>
                <class>NextBits_BannerNext_Model_Mysql4</class>
                <entities>
                    <bannernext>
                        <table>bannernext</table>
                    </bannernext>
                </entities>
            </bannernext_mysql4>
        </models>
        <resources>
            <bannernext_setup>
                <setup>
                    <module>NextBits_BannerNext</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannernext_setup>
            <bannernext_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannernext_write>
            <bannernext_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannernext_read>
        </resources>
        <blocks>
            <bannernext>
                <class>NextBits_BannerNext_Block</class>
            </bannernext>
        </blocks>
        <helpers>
            <bannernext>
                <class>NextBits_BannerNext_Helper</class>
            </bannernext>
        </helpers>
    </global>
	<default>
		<bannernext>
			<general>
				<active>1</active>
				<jquery>1</jquery>	
				<responsive_banner>0</responsive_banner>
			</general>
		</bannernext>
	 </default>
	 <adminhtml>
        <translate>
            <modules>
                <NextBits_BannerNext>
                    <files>
                        <default>NextBits_BannerNext.csv</default>
                    </files>
                </NextBits_BannerNext>
            </modules>
        </translate>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<NextBits_BannerNext>
					<files>
						<default>NextBits_BannerNext.csv</default>
					</files>
				</NextBits_BannerNext>
			</modules>
		</translate>
	</frontend>
</config>